$text-0 : #000000;
$text-1 : #333333;
$text-2 : #666666;
$text-3 : #999999;
$text-4 : #cccccc;
$text-5 : #eeeeee;
$text-6 : #f3f3f3;
$text-7 : #f6f6f6;
$text-8 : #ffffff;

$color-1 : #0e478c;
$color-2 : #e1251b;
$color-3 : #ff2318;
$color-4 : #FF7C7C;
$color-5 : #ffb258 ;
$color-6 : #24ca88;
$color-7 : #67B2EC;
$color-8 : #8c88ff;
$color-9 : #ffde00;

//色值
$white : $text-8;
$red : $color-2;
$blue : $color-1;
$pink : $color-4;
$orange : $color-5;
$yellow : $color-9;
$green : $color-6;
$purple : $color-8;

//文字相关
$primary :$color-1;
$title : $text-1;
$subTitle : $text-2;
$bgGrey : $text-7;
$borderColor : $text-6;
$price : $color-2;
$borderRadius: 10rpx;
$borderLgRadius: 20rpx;

//动效曲线
@mixin transition($prop:all, $second:.3s , $cubicBezier:cubic-bezier(0, 0, 0.2, 1)){
  transition: $prop $second $cubicBezier;
}

