/* component/avatar/index.wxss */
.top-avatar {
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 5px #ff6ea4;
  }

  .avatar-list {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .user-name {
    margin-top: -3px;
  }

  .user-fight {
    margin-top: -3px;
  }

  .top1 {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;

    image {
      width: 45px;
      height: 45px;
      border: solid 5px #fed73a;
    }
  }

  .top2 {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(91.5%);
    z-index: 2;

    image {
      border: solid 5px #77bdff;
    }
  }

  .top3 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-94.5%);
    z-index: 2;

    image {
      border: solid 5px #f49e39;
    }
  }

  .top-body {
    font-size: 12px;

    .top-hat {
      width: 30px;
      border: none;
      position: absolute;
      top: -10px;
    }
  }
}